{% extends "base.html" %}

{% block body %}

    <div class="card mt-5"
        style="width: auto; border-color: cornflowerblue; border-radius: 15px;">
        <div class="card-body">
            <h4 class="card-title">Contact</h4>
            <hr style="border-color: #6495ed;">
            <div class="card-text" style="text-align: -webkit-center;">
                <table class="table table-borderless" style="width: auto;">
                    <tbody>
                        <tr>
                            <td colspan="2"><i class="fa fa-envelope"></i>&nbsp;&nbsp; &nbsp;<a href="mailto:support@thebroadcastapp.com">support@thebroadcastapp.com</a></td>
                        </tr>
                        <tr>
                            <td colspan="2"><i class="fa fa-phone"></i>&nbsp;&nbsp; &nbsp;1800-5424-1925</td>
                        </tr>
                        <tr>
                            <td colspan="2"><i class="fa fa-whatsapp"></i>&nbsp;&nbsp; &nbsp;+919589178825</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}