{% extends "base.html" %}

{% block body %}

    <div class="card mt-5"
        style="width: auto; border-color: cornflowerblue; border-radius: 15px;">
        <div class="card-body">
            <h4 class="card-title">Contact</h4>
            <hr style="border-color: #6495ed;">
            <p class="card-text">
                <div class="card text-center">
                    <div class="card-header">
                        <i class="fa fa-envelope"></i>&nbsp; Support email:
                    </div>
                    <div class="card-body">
                      <p class="card-text">support@thebroadcastapp.com</p>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-header">
                        <i class="fa fa-phone"></i>&nbsp; Helpline No.:
                    </div>
                    <div class="card-body">
                      <p class="card-text">1800-5424-1925</p>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-header">
                        <i class="fa fa-comment-o"></i>&nbsp; WhatsApp No.:
                    </div>
                    <div class="card-body">
                      <p class="card-text">+919589178825</p>
                    </div>
                </div>
            </p>
        </div>
    </div>
{% endblock %}