{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/floating-labels.css') }}">
{% endblock %}

{% block body %}
    <form class="form-sign" action="{{ url_for('signup') }}" method="POST">
        <div class="text-center mb-4">
            <img class="mb-4" src="{{ url_for('static', filename='img/titleIcon.png') }}" alt="The Broadcast" width="72"
                height="72">
            <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
        </div>

        <div class="form-label-group">
            <input type="text" name="fullName" id="inputName" class="form-control" placeholder="Full name" required
                autofocus>
            <label for="inputEmail">Full name</label>
        </div>


        <div class="form-label-group">
            <input type="tel" name="phone" id="inputPhone" class="form-control" placeholder="Phone" autofocus>
            <label for="inputEmail">Phone (optional)</label>
        </div>

        <div class="form-label-group">
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required
                autofocus>
            <label for="inputEmail">Email address</label>
        </div>

        <div class="form-label-group">
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

        <div class="mt-2 text-center">
            <label class="msg">
                {{ msg }}
            </label>
        </div>
        <p class="mt-2 mb-3 text-muted text-center">Already have an acount? <a href="{{ url_for('signin') }}">Sign in</a>
        </p>
    </form>

{% endblock %}